* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-size: 10px;
}
body {
    background: #fafafa;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}
/* typography */
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
.menu-bar,
.cart {
    display: none;
}
#wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 130px 100px 1fr 100px 1fr;
    grid-template-columns: 130px 1fr 1fr;
    grid-gap: 0 100px;
    padding: 70px 0 134px 70px;
}
.header1 {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;

}

.logo-container img {
    height: 50px;
}

.search-dropdown-container {
    display: flex;
    align-items: center;
}

.search-form {
    display: flex;
    margin-right: 10px;
}

.search-form input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

.search-form button[type="submit"] {
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 40px;
    font-size: 16px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown1 {
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 2px;
    padding: 6px 15px;
    font-size: 16px;
    cursor: pointer;
}


#dropdownMenuButton{
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
}
#dropdownitem{
    background-color: red;
    color: #fff;
    border: none;
    padding: 5px 30px;
    font-size: 10px;
    cursor: pointer;

}

a.login-btn {
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
}

header {
    grid-column: 1/-1;
}

/* Style the radio inputs */
.radio input[type="radio"] {
    display: none;
}

.radio span {
    display: inline-block;
    margin-left: 5px;
    font-size: 14px;
    font-weight: bold;
}

.radio span:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 50%;
    border: 2px solid #aaa;
    vertical-align: middle;
}

.radio input[type="radio"]:checked + span:before {
    background-color: red;
    border-color: red;
}

/* Style the dropdown */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.dropdown-content label {
    display: block;
    padding: 5px 0;
    cursor: pointer;
}

.dropdown-content label:hover {
    background-color: #f2f2f2;
}

.dropdown-content label:hover span:before {
    border-color: red;
}

.dropdown-content label:first-of-type {
    padding-top: 0;
}

.dropdown-content label:last-of-type {
    padding-bottom: 0;
}



.ok{
    grid-row: 1/-1;
    display: inline;
    display: inline-block;

}
nav {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
}
main {
    grid-column: 2/-1;
}
/* header */
.logo {
    font-family: "Abril Fatface", cursive, "Times New Roman", Times, serif;
    font-size: 4rem;
    letter-spacing: 2px;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/-1;
}
/* navigation */
.nav-links a {
    text-decoration: none;
    color: #727272;
    font-size: 1.8rem;
}
.nav-links li:first-child {
    padding-top: 70px;
}
.nav-links li + li {
    padding-top: 50px;
}
.nav-links li:last-child {
    padding-bottom: 80px;
}
.nav-links a:hover {
    -webkit-text-decoration: line-through solid #ff4e4e 3px;
    text-decoration: line-through solid #ff4e4e 3px;
}

/* main content */
main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 30%;
    grid-template-columns: 1fr 30%;
    margin-bottom: 500px;
    padding-bottom: 50px;
}
.main-title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
}
aside {
    grid-column: 2/-1;
}

.restaurent-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 100px;
    padding-right: 50px;
 /* ajuste cette valeur en fonction de ton agencement */
    margin-top: 10px;
    margin-bottom: 50px; /* ajuste cette valeur selon tes besoins */
    margin-left: 200px;
}

.restaurant-menu .menu-item {
    flex-basis: calc(50% - 10px); /* ajuste la largeur des éléments en fonction de ton agencement */
    margin-bottom: 20px; /* ajuste cet espace entre les éléments selon tes besoins */
}


main{
    margin-bottom: 50px;
}
.main-heading {
    font-size: 7rem;
    letter-spacing: 3px;
    font-family: "Abril Fatface", cursive, "Times New Roman", Times, serif;
    line-height: 1.5;
}
aside p {
    font-size: 1.8rem;
    line-height: 1.5;
    position: relative;
    padding-bottom: 30px;
    color: #848484;
    letter-spacing: 1px;
    width: 251px;
}
aside p::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 86px;
    border-bottom: 3px solid #ff4e4e;
}
h2 {
    text-align: center; /* pour centrer le texte horizontalement */
    color: black;
    margin-right: 0px;
    margin-left: 30px;/* pour définir la couleur du texte en noir */
}


.wrapper article {
    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;
    margin-top: 50px; /* Ajuste la marge supérieure selon tes besoins */
    margin-bottom: 50px; /* Ajuste la marge inférieure selon tes besoins */
}

.wrapper .imagerecette {
    margin-bottom: 25px;
    margin-right: 30px;/* Espace entre l'image et le H2 */
}




article {
    width: 200px;
    height: 260px;
    border-radius: 20px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: 20px 20px 20px 10px #e2e2e2;
    box-shadow: 20px 20px 20px 10px #e2e2e2;
    margin-bottom: 20px;
}

article img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-left: 28px;
}

article h3 {
    margin-top: 30px;
    font-size: 1.8rem;
}
article:hover {
    -webkit-animation: menu 1s alternate infinite ease-in;
    animation: menu 1s alternate infinite ease-in;
}
@-webkit-keyframes menu {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}
@keyframes menu {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}
article {
    position: relative;
}
.overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #f1f1f1;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 20px;
}
.overlay h4 {
    font-size: 17px;
}
.overlay li {
    list-style: disc;
    font-size: 15px;
    margin: 8px 15px;
    color: #fff;
}
.overlay .sub-list li {
    list-style: circle;
}
.restaurent-menu article:hover .overlay {
    display: block;
}

/* Style the labels */
.list-items label {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: bold;
}

/* Style the selected labels */
.list-items input[type="radio"]:checked + label {
    color: red;
}
.list-items li {
    display: flex;
    align-items: center;
}
.list-items li label {
    margin-left: 10px;
}
.list-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: none;
    color: red;
    font-size: 1.8rem;
}

.list-items {
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #727272;
    font-size: 1.8rem;
}

.list-items li {
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 1.5;
    text-decoration: none;
    color: #727272;
    font-size: 1.8rem;
}

.list-items li label {
    margin-left: 10px;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    flex: 1;
}

.search-btn {
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-btn:hover {
    background-color: grey;
}
.main-header {
    position: relative; /* Set the header as a positioned element */
    height: 350px; /* Set the height to 0 to make the image cover the entire width */
    padding-bottom: 0;
    width: 100%;

}
.zwita {
    position: absolute; /* Set the image as an absolute positioned element */
    top: 0;
    left: 0;
    width: 100%; /* Set the width to cover the entire horizontal */
    height: 100%;
    object-fit: cover; /* Set the object-fit property to cover to maintain aspect ratio */
}
.zwita-logo {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #fff;
    /* Add other styles to the logo image */
}

.zwita:hover {
    display: none;
}

.zwita:hover + .zwita-logo {
    display: block; /* or display: inline-block */
}

/*footer*/

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #f5f5f5;
    color: black;
    padding:10px;
    padding: 10px;
    min-height: 100px;
}

#footer h6 {
    font-weight: bold;
    font-size: large;
    margin-top: 5px;
    margin-bottom: 5px;
}

#footer p {
    font-size: 10px;
    text-align: justify;
}

#footer ul {
    list-style: none;
    padding: 0;
}

#footer ul li {
    margin-bottom: 5px;
    width: 48%;
    display: inline-block;
}

#footer a {
    color: black;
    text-decoration: none;
    font-size: small;
}

#footer a:hover {
    color: black;
}

#footer .last {
    margin-bottom: 0;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-info li {
    margin-right: 10px;
}

.footer-links li {
    margin-left: 10px;
}


#footer .col-md-6 { text-align: left; }


#events {
    color: white;
    font-family: 'Lato', sans-serif;
    top: 50px;
}

#events .wrapper {
    margin: 0px 25vw;
    display: flex;
    justify-content:center;
    flex-direction: column;
    padding: 1.5em;
    width: 50vw;
    height: 276px;
    background-position: 10px 10px;
    transform: scale(0.9);
    border-radius: 10px;
    margin-bottom:20px;
    z-index: -11111111111;
    transition: 0.5s;
}

#events .upper {
    border-bottom: 1px solid rgba(255, 255, 255,.7);
    font-weight: 400;
    font-size: 24px;
    line-height: 2;
    text-transform: uppercase;
}

#events .meetup {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
    text-decoration: none;
}

#events .group {

    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    padding-right: 20px;
}

#events .icon {
    display: inline-block;
    position: relative;
    top: -.1em;
    vertical-align: middle;
}

#events .details {
    display: flex;
    flex-direction: column;
}

#events .row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
}

#events .row-item {
    padding-left: 10px;
}


#login-form{
    padding: 20px;
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: center;
    color: black;
    margin-left:0px;
    margin-right:100px;
    margin-top: 30px;
    border: 2px solid black;
    border-radius: 4px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 100px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 400px;

}
#login-form1{
    padding: 20px;
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: center;
    color: black;

    margin-top: 30px;
    border: 2px solid black;
    border-radius: 4px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 100px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 400px;

}
#login-form *{
    width: 100%;
    margin: 8px 0;
}
#login-form input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}
#login-form label{
    display: inline-block;
    margin-bottom: 5px;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}
#login-form legend{
    font-size: 24px;
    padding: 10px;
    width: 100%;
    background-color: darkgrey;

}
#login-form button{
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;

}


#login-form1 *{
    width: 100%;
    margin: 8px 0;
}
#login-form1 input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}
#login-form1 label{
    display: inline-block;
    margin-bottom: 5px;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}
#login-form1 legend{
    font-size: 24px;
    padding: 10px;
    width: 100%;
    background-color: darkgrey;

}
#login-form1 button{
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;

}
#error {
    margin: 5px 0;
    background: white;
    padding: 0 10px;
    font-size: 24px;
    font-style: italic;
    color: orangered;
    text-align: center;
    margin-left: 120px;
    margin-top: 400px;

}

.buttondetruire {
    position: absolute;
    bottom: 0px;
    margin-left: 57px;
    margin-bottom: 250px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
}
.buttondetruire:hover {
    background-color: #dc3545;
    color: #fff;
    border-color: #dc3545;
    text-decoration: none;
}

.buttonmodifier {
    position: absolute;
    bottom: 0px;
    margin-left: 160px;
    margin-bottom: 250px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;

}
.buttonmodifier:hover {
    background-color: #dc3545;
    color: #fff;
    border-color: #dc3545;
    text-decoration: none;
}
.desc {
    font-size: 17px;
}

.cart-btn {
    position: absolute;
    bottom: 0px;
    margin-left: 190px;

    background-color: red;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
}

.welcome {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}










